<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap'" rel="stylesheet">
    <link rel="stylesheet" href="CSS/style.css">
</head>


<body>
    
    <button><a href="{% url 'game' %}">play game</a><button>
    <div id = "container">
      <nav>
          <ul id="menulist">
             <li><a href="Home.html">Home</a></li>
             <li><a href="aboutus.html">About Us</a></li>
             <li><a href="contactus.html">Contact Us</a></li>
             <li><a href="Help.html">Help</a></li>
           </ul>
      </nav>
    <div>
    
</body>
</html>
