<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Game</title>

    <style>
        #canvas{
            width: 80%;
            height: 100vh;
            background: ligthcyan;
            border: 1px solid black;
        }

        #tower{
            width: 150px;
            height: 150px;
            background:red;
            border: 1px solid black;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.js"></script>
    
</head>
<body>
    
      <script src = "{% static 'Javascript/Box.js' %}"></script>
    <script src = "{% static 'Javascript/main.js' %}"></script>
    
</body>
</html>