<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Game</title>

    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.js"></script>
    
</head>
<body>

    <script>
        let imgURL = "{% static '/images/ball.png' %}";
        let groundURL = "{% static '/images/ground.png' %}"
        let backgroundURL = "{% static '/images/bg.png' %}"
        let towerURL = "{% static '/images/castletower.png' %}"

    </script>

    <script src = "{% static 'Javascript/Box.js' %}"></script>
     <script src = "{% static 'Javascript/Weapon.js' %}"></script>
    <script src = "{% static 'Javascript/main.js' %}"></script>
    
</body>
</html>