<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Game</title>

    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.js"></script>
    
</head>
<body bgcolor="black">

    <script>
        let ballImage = "{% static '/images/ball.png' %}";
        let groundImage = "{% static '/images/ground.png' %}"
        let backgroundImage = "{% static '/images/background.jpg' %}"
        let walkImage = "{% static '/images/giphy.gif' %}"
        let towerImage = "{% static '/images/castletower.png' %}"

    </script>
 <script src = "{% static 'Javascript/AllAttributes.js' %}"></script>
    <script src="{% static 'Javascript/MatterSetup.js' %}"></script>
    <script src = "{% static 'Javascript/Stone.js' %}"></script>
    <script src = "{% static 'Javascript/Ground.js' %}"></script>
    <script src = "{% static 'Javascript/Tower.js' %}"></script>
    <script src = "{% static 'Javascript/Box.js' %}"></script>
     <script src = "{% static 'Javascript/Weapon.js' %}"></script>
    <script src = "{% static 'Javascript/main.js' %}"></script>
    
</body>
</html>